<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!--INICIO NAV-->
    <nav>
        <div class="nav-wrapper cyan lighten-1">
            <a href="#" class="brand-logo center">Logo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="alimentocrud">Alimento</a></li>
                <li><a href="categoriacrud">Categoria</a></li>
                <li><a href="/">Menu</a></li>
            </ul>
        </div>
    </nav>
    <!--FIN NAV-->
    <br>
    <main>
        <div class="row">
            <div class="col m6 m6 ">
                <a class="waves-effect waves-light btn cyan lighten-1" href="crearalimento">Crear nuevo alimento</a>
            </div>
        </div>
        
        <table class="centered">
            <thead>
            <tr>
                <th>NOMBRE</th>
                <th>CATEGORIA</th>
                <th>PRECIO</th>
                <th>DESCRIPCION</th>
                <th>ACCION</th>

            </tr>
        </thead>

            <tbody>
            <% results.forEach((alimento) => { %>
            <tr>
                <td> <%= alimento.nombre_alimento %></td>
                <td> <%= alimento.categoria_id_fk %></td>
                <td> <%= alimento.precio %></td>
                <td> <%= alimento.descripcion %></td>
            
                <td>
                    <a href="/editarAlimento/<%= alimento.alimento_id%>" class="btn btn-outline-info">editar</a>
                    <a href="/deshabilitarAlimento/<%= alimento.alimento_id%>" class="btn btn-outline-danger">eliminar</a>
                </td>
            </tr>
            <%})%>
            </tbody>
        </table>

    </main>
<br><br><br>

    <footer class="page-footer cyan lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Nombre Restaurant</h5>
                    <p class="grey-text text-lighten-4">Info restaurant.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 Copyright Text
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var categorias = document.querySelectorAll('select');
            var instances = M.FormSelect.init(categorias);
        });
    </script>

    <script>
        $(document).ready(function() {
            M.updateTextFields();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>