<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<!--MOVER HACIA ABAJO AL PRESIONAR OPCION EN CAROUSEL-->
    <nav>
        <div class="nav-wrapper cyan lighten-1">
            <a href="#" class="brand-logo center">Logo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="alimentocrud">Alimento</a></li>
                <li><a href="categoriacrud">Categoria</a></li>
                <li><a href="/">Menu</a></li>
            </ul>
        </div>
    </nav>
    
    <main>
        <h2 class="center">Categorias</h2>
        <div class="carousel">
            <% categorias.forEach((categoria)=>{ %>
                <a class="carousel-item" href="#one!"><img src="img/<%= categoria.foto_categoria %>"></a>
            <% }) %>
        </div>

        <div class="container-cards">
            <h2 class="center">Menu</h2>

            <div class="row" style="padding: 0% 10% 0% 10%;">
                <% alimentos.forEach((alimento)=>{ %>
                <div class="col s12 m4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="img/<%= alimento.foto_alimento %>">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"> <%= alimento.nombre_alimento %><i class="material-icons right">more_vert</i></span>
                            <p><a href="#"><%= alimento.precio %></a></p>
                            <a class="waves-effect waves-light btn-small" onclick="agregarValor(<%= alimento.precio %>)">Button</a>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"> <%= alimento.nombre_alimento %> <i class="material-icons right">close</i></span>
                            <p><%= alimento.descripcion %></p>
                        </div>
                        
                    </div>
                </div>
                <% }) %>
            </div>


        </div>
    </main>

    <footer class="page-footer cyan lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Nombre Restaurant</h5>
                    <p class="grey-text text-lighten-4">Info restaurant.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 Copyright Text
            </div>
        </div>
    </footer>

    <script>
        var preciosSeleccionados = [];
        var suma;

        function agregarValor(precio) {
            preciosSeleccionados.push(precio);
            console.log(preciosSeleccionados);

            suma = preciosSeleccionados.reduce(function(acumulador, valorActual) {
                return acumulador + valorActual;
            }, 0);
            console.log("total: "+ suma);
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var images = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(images);
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>